@model MVCWeather.ViewModels.SearchCity

@{
    ViewBag.Title = "SearchWeather";
}

<div class="row">
    <div class="col-md-6">
        <h2>SearchWeather</h2>

        @using (Html.BeginForm("SearchWeather", "Weather", FormMethod.Post))
        {
            @Html.TextBox("search", null, new { @class = "form-control" })
            <input type="submit" value="Search" style="margin-top:7px"/>
            @Html.ValidationSummary(true)
            @Html.ValidationMessage("key", new { @class = "text-danger" })
        }
    </div>

    <div class="col-md-6">
        <h2>Show City List</h2>

        <input type="button" id="cityList" value="Show city list" style="margin-bottom:7px" />

        <div id="showCities" style="display: none">
            @foreach (var item in Model.cities)
            {
                <p>
                    @Html.ActionLink(item.name, "WeatherCity", new { cityName = item.name })
                </p>
            }
        </div>
    </div>

</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        
        $("#showCities").hide();

        $("#cityList").click(function(){
            $("#showCities").show();
        })
    });
</script>



