@model DTO.Weather

@{
    ViewBag.Title = "SearchWeather";
}

<h2>SearchWeather</h2>

@using (Html.BeginForm("SearchWeather", "Weather", FormMethod.Post))
{
    @Html.TextBox("search", null, new { @class = "form-control" })
    <input type="submit" value="Search" />
    @Html.ValidationSummary(true)
    @Html.ValidationMessage("key", new { @class = "text-danger" })
}



